/***Common HTML elements***/

/**-Elementos de estrutura-**/

/*Elementos gerais do site*/
 
body {
  	background-color: #ffffff;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	color: #2D2829 !important;
	font-size:1.10em !important;
	font-family:  Roboto,Helvetica,Arial,sans-serif !important;
	
}

/*Formatacao de link gerais da pagina*/

a:link {
	color: #d41480 !important;
	background-color: transparent !important;
	text-decoration: none;
}

a:active {
	color: #d41480 !important;
	background-color: transparent !important;
	text-decoration: none;
}

a:visited {
    color: #d41480 !important;
	background-color: transparent !important;
	text-decoration: none;
}

a:hover {
	font-weight: normal;
	color: #98105c !important;
	background-color: transparent !important;
	border-bottom: 1px solid #d41480;
}

label.error {
	color: #900;
}

input {
	border: 1px solid #600f0f;
}

input.textField, select.selectMenu, textarea.textArea, input.uploadField {
	background-color: #ffffff;
	color: #d41480;
	border: 1px solid #21409a;
	text-transform: uppercase;
}

input.button {
	background-color: #d41480;
	color: #ffffff;
	width: 78px;
    height: 28px;
    border: none;
    text-transform: uppercase;

}

input.defaultButton {
	background-color: #942D2D;
	font-weight:bold;
}

/*Topo, local onde inserem-se logotipos e imagens*/
	
#header {
    background-color: transparent;
}

#header h1 {
	font-family:  Roboto,Helvetica,Arial,sans-serif !important;
	font-size: 0px;
	font-weight: normal;
	font-variant: small-caps;
	color: #ffffff;
	letter-spacing: 10px;
}

/*Rodapé*/

#footer {
	min-height: 35px;

}

#footerContent {
	color:  #ffffff;
    padding: 15px;
}

/**Conteúdo**/	
/*Área geral de conteúdo*/

#main h2 {
	font-family:  Roboto,Helvetica,Arial,sans-serif !important;
	font-weight: normal;
	font-variant: samll-caps;
	text-align: left;
	color: #21409a;
	float: left;
    font-weight: bold;

}

#main h3 {
	font-family:  Roboto,Helvetica,Arial,sans-serif !important;
	font-weight: normal;
}

/**Menu**/	
/*Área do menu*/

#navbar {
	padding: 8px 15px;
	font-size:1.10em !important;
	font-family:  Roboto,Arial,Helvetica,sans-serif !important;
}

/*Itens do menu*/

div#navbar ul.menu li {
    padding: 14px 0px 14px 0px;
	color: #d41480;
}


div#navbar ul.menu  li a {
	color: #d41480 !important;
	font-size: 0.7em;
	font-weight: normal;
}

div#navbar ul.menu  li a:hover {
	color: #d41480 !important;
	background-color: transparent !important;
}
	
/*Área que regula o "caminho" de páginas percorrido pelo usuário, que fica visível sempre*/

#breadcrumb {
	color: #9e2927;
}

/*linha que separa titulo do conteudo da página - desnecessária*/

#content {
	border-top: none !important;
}

#breadcrumb, #content {
	width: 100%;
	margin-top: 8%;
    float: right;

}

/*Títulos*/

#content h3 {
	font-family:  Roboto,Helvetica,Arial,sans-serif !important;
	font-weight: normal;
	color: #21409a; 
	font-weight: normal;
	text-align: left;
}

#content h4, #content h4 a {
    font-family:  Roboto,Helvetica,Arial,sans-serif !important;
    font-weight: lighter;
    color: #21409a;
	font-weight: normal;
}

#content h4 a:hover {
    font-weight: normal;
    color: #182e6f;
}

#content h5 {
	color: #21409a;
}

/**Blocos laterais**/

#leftSidebar div.block, #rightSidebar div.block {
	padding: 0.5em 0;
	color: #182e6f;
	margin-bottom: 10px;
	margin-left: -66px;
}

#leftSidebar div.block {
    margin: 5px;
    width: 120px;
    *width: 120px !important; /* IE7 */
    *width: 140px;            /* IE6 */
}

#leftSidebar div.block span.blockTitle, #rightSidebar div.block span.blockTitle {
	padding: 0 0 7px 0;
	margin-bottom: 10px;	
	font-weight: bold;
	font-variant: small-caps;
	color: #21409a;
    font-size: 17px;
}

#leftSidebar div.block span.blockSubtitle, #rightSidebar div.block span.blockSubtitle {
	font-weight: normal;
	text-transform: uppercase;
	color: #e16691;

}

ul.none {
	list-style-type: none;
	padding: 0;
	text-transform: uppercase;
}

pre {
/*	background-color: #EEEEFF;*/
}

/*Linha que separa apresentação dos artigos*/

div.separator {
	border-bottom-color: #d41480;
	border-bottom-style: solid;
	border-bottom-width: medium
}

/**-Elementos de customização de aparencia-**/

/*Topo, local onde inserem-se logotipos e imagens*/

#header {
	text-align: center;
	margin: 0;
	padding: 0;
	width: 100%;
	vertical-align: middle;
}
#headerTitle {
	background-color: transparent;
	text-align: left;
	margin: 0;
	padding: 0;
	width: 100%;
	line-height: 80%;
}

#header h1 {
	background-image: url(../../../plugins/themes/sdrj/images/logo-faixa.png);
	background-repeat:no-repeat;
	color: transparent !important;
	height:175px;
	background-position: 100% -1%;
	margin-top: 5%;
    margin-right: 120px;

}

/*Corpo do site*/

#body {
	width: 100% !important;
	color: #727d84 !important;
	margin: 0;
	padding: 0;
}

/*Rodapé*/

#footerContent {
	margin: 0;
    padding: 0;
}

#table.tocArticle td.tocAuthors {
	color: #46242c  !important;

}


html>/**/body #body {   /* Modern browsers: FF3, IE8... */
    width: 89% !important;
}

#hackme, x:-moz-any-link { /* styles for Firefox 2.0 or older */
    width: 100% !important;
    margin: 0;
    padding: 0;
}

/*Bloco esquerdo*/

#leftSidebar {
    float: none;
    position:absolute;
    z-index: 1;
    left:0px;
    margin-top: 2%;
	margin-left: 0px;
	height: 50px;
    width: 200px;
	padding-top: 20%;
}

/*Bloco direito*/

#rightSidebar {
	float: none;
    position: absolute;
    right: 8%;
	height: auto;
	width: 10%;
    z-index: 2;
    margin: -12% 0%;
    padding: 15% 2% 2%;
    overflow: visible;
	background-image: url(../../../plugins/themes/sdrj/images/issn.png);
	background-repeat:no-repeat;
	background-position: 10% 2%;
	background-attachment: scroll;
	
}

/*Área onde fica o conteúdo*/

#main {             /*Espaço onde fica o conteúdo*/
	padding-left: 50px ;
	padding-right: 20px;
	width: 54%;
	margin: 2% 15% 0 !important;
	height: 100% !important;
	min-height: 100% !important;
	
}

/*Área do menu*/

#navbar {
	background-color: transparent !important;
}

/*Link do menu*/

#navbar a {
	color: #d85b21;
}

div#content div:first-child {
	text-align: justify;
}

div#sidebarNavigation select.selectMenu,
div#sidebarLanguageToggle select.selectMenu {
	width: 249px;
}

/*Blocos*/

#leftSidebar div.block, #rightSidebar div.block  {
}

#leftSidebar div.block {
    border-width: 0px 0px 0px 4px;
	padding: 5px;
    color: #727d84;
    font-weight:normal;
    text-align: left;
	margin-top: -85%;
}

#leftSidebar div.block a {
    font-size: 10px;
}

#rightSidebar div.block  {
    border-width: 0px 0px 0px 4px;
}

/*Iten de busca*/

div#sidebarNavigation {

	width:220px !important;

}

div#sidebarNavigation span.blockTitle {

	font-size:1.1em;
	font-weight:bold;
	margin:0;
	padding:0px 40px 25px 0px;
}

/*Itens do usuário*/

div#sidebarUser {

}

div#sidebarUser span.blockTitle {

    font-size:1.1em;
    font-weight:bold;
    margin: 0;
    padding: 0px 40px 25px 0px;
}

/*Item de idioma*/

div#sidebarLanguageToggle {

}

div#sidebarLanguageToggle span.blockTitle {
    font-size:1.1em;
    font-weight:bold;
    margin: 0;
    padding: 0px 40px 25px 0px;
}

/*Item de tamanho de fonte*/

div#sidebarFontSize {

}

div#sidebarFontSize span.blockTitle {

}

/*Item de informações*/

div#sidebarInformation {

}

div#sidebarInformation span.blockTitle {

}

/*Item sobre o desenvolvedor*/

div#sidebarDevelopedBy {

}

div#sidebarDevelopedBy span.blockTitle {

    font-size:1.1em;
    font-weight:bold;
    margin: 0;
    padding: 0px 40px 25px 0px;
}

/*Item de ajuda*/

div#sidebarHelp {

}

div#sidebarHelp span.blockTitle {
    font-size:1.1em;
    font-weight:bold;
    margin: 0;
    padding: 0px 40px 25px 0px;
}

/** Links sidebar **/

div#sidebarLinks {

}

div#sidebarLinks span.blockTitle {
    font-size:1.1em;
    font-weight:bold;
    margin: 0;
    padding: 0px 40px 25px 0px;
}


/** RSS Feed sidebar **/

div#sidebarWebFeed {
}

div#sidebarWebFeed span.blockTitle {
    font-size:1.1em;
    font-weight:bold;
    margin: 0;
    padding: 0px 40px 25px 0px;
}

/*
 * Issues decoration
 */
 
/***** textArea *****/
.textArea {
    height: 200px;
}

/* Formato del identificador de idioma en índice */
.myLanguage{
    font-size: .9em;
    padding: 2px 5px 0px 10px;
    border: solid 1px #369;
    color: #727d84;
    text-transform: uppercase;
    height: 1.5em;
    vertical-align: middle;
}

div#content h4 {
    padding-bottom: 1em;
}

/** phpVisits issue - complement to the hack in pageTag.tpl **/
div#phpVisites {
	text-align: center;
	padding: 20px 0px;
}


/*Links/Botões da visualização do editor*/

div#content ul.menu {
    margin-top: 20px;
    border-bottom: 2px solid #314081;
    font-size: 14px;
    padding: 0px 0px 2px 0px;
}

div#content ul.menu li {
    display:inline;
    margin: 0;
    padding: 0px 5px;
}


div#content ul.menu li a, div#content ul.menu li a, div#content ul.menu li a:hover {
    border: 1px solid #314081;
    padding: 4px 10px 2px 10px;
	font-weight: normal;
}

div#content ul.menu li.current a, div#content ul.menu li a:hover {
    background-color:#942D2D !important;
    color: #ffffff !important;
}

#container {
	min-width: 0px !important;
	width: none !important;*/
}

/** Portada Articulos **/
.tocArticleCoverImage img {
    width: 50px;
    border: 1px solid #727d84;
    padding: 4px;
}

/** Elegant **/
*
#navbar
{
	margin: 0px;
	padding: 0px;
	height: 46px;
	width: auto;
}

#navbar li
{
	display: inline;
	float: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#navbar li a:link
{
	/*font: bold 28px/20px Roboto;*/
	color: #d41480 !important;
	text-decoration: none;
	display: inline;
	padding: 0px 5px 2px 5px;
	margin: 0px;
	height: 25px;
	overflow: auto;
	text-align: left;
}

#navbar li a:visited
{
	/*font: bold 28px/20px Roboto;*/
	color: #d41480 !important;
	text-decoration: none;
	display: inline;
	padding: 0px 5px 2px 5px;
	margin: 0px;
	height: 25px;
	overflow: auto;
	text-align: left;
}

#navbar li a#current
{
	color: #999;
	font-style: italic;
}

#navbar li a:hover, #navbar li a:active
{
	text-decoration: none;
	text-align: left;
	text-transform: uppercase;
	//font: bold normal 10px/16px "Roboto", Roboto, lucida, arial, helvetica, sans-serif;
}

#navbar {
	background-color: #942d2e; /*transparent !important;*/
}

div#navbar ul.menu > li a {
	color: #21409a !important;
	font-weight: bold;
}

div#navbar ul.menu > li a:hover {
	color: #182e6f !important;
}

table.listing td {
	padding:0.20em 0.2em !important;
}

table.listing tr.heading td, table.listing td.heading, table.info td.heading {
	text-align:center !important;
}

table.listing tr.highlight {
	background:none repeat scroll 0 0 LightGray;
}

#content  {
	font-size:0.64em !important;

}
